<div class="landing">
  <div class="header">
    <div class="text">Custom<span class="space">Mobs</span></div>
    <div class="splitter"></div>
  </div>
  <div class="body">
    <div class="section">
      <div class="title">
        About CustomMobs
      </div>
      <div class="description">
        <div class="left">
          CustomMobs is a Minecraft plugin that allows anyone to create special mobs and bosses using an
          easy to use in-game GUI. This GUI allows :<br>
          <div class="list">
            <li>Changing <strong>armor</strong> and held item(s) of the mob.</li>
            <li>Setting the <strong>name and type</strong> of the mob.</li>
            <li>Editing entity <strong>options</strong> like behavior or attributes.</li>
            <li>Customizing the <strong>drops</strong> the mob gives on death.</li>
            <li>Configuring spawner <strong>settings</strong> like range and speed.</li>
            <li>Adding <strong>custom effects</strong> like timed events or abilities.</li>
            <li>Modifying <strong>sounds</strong> and apply <strong>potion effects</strong>.</li>
            <li>Setting <strong>messages</strong> for spawn and death events.</li>
          </div>
          The CustomMobs can then be spawned using an egg (or the customized spawning item) or with a
          spawner.
        </div>
        <img src="assets/images/landing/gui.png" alt="" class="gui" />
      </div>
      <div class="images">
        <img src="assets/images/landing/1.png" alt="" class="image" />
        <img src="assets/images/landing/2.png" alt="" class="image" />
        <img src="assets/images/landing/3.png" alt="" class="image" />
      </div>
    </div>
  </div>

</div>

