.navbar-menu {
  position: relative;
  margin: 0 7px 0 15px;
  color: white;
  height: auto;
  transition: background-color 0.4s ease-in-out, color 0.2s ease-in-out;
}

.header {
  background: #141B30;
  position: sticky;
  top: 0;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  border-radius: 7px;
  z-index: 2;
}

.header.selected {
  background: white;
  color: #141B30;
}

.options {
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition:
    max-height 0.15s ease,
    opacity 0.15s ease,
    transform 0.15s ease;
  border-radius: 7px;
}

.options.selected {
  max-height: 100%;
  opacity: 1;
  transform: translateY(0);
}

.menu-left {
  align-items: center;
  display: flex;
  font-size: 23px;

  .icon, .arrow {
    text-align: center;
    width: 25px;
  }

  .text {
    margin-left: 13px;
  }
}

.menu-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 18px;
}

.text {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.option {
  margin-left: 20px;
  margin-right: 5px;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
}

.option.selected {
  background: white;
  color: #141B30;
}

.header:hover {
  background: white;
  color: #141B30;
}

.option:hover {
  background: white;
  color: #141B30;
}
